<% include ../partial/header %>
<% include ../partial/nav %>

<div class="datax-modal hidden" id="cover-modal" >
  <!-- The Close Button -->
  <span class="datax-close" id="cover-modal-close">&times;</span>
  <!-- Modal Content (The Image) -->
  <img class="datax-modal-content" id="cover-modal-img">
</div>


<div class="profile-info col-md-12">
    <% include ../user/user_static_header.ejs %>
</div>
<div id="user-profile-abs-hover" class="hidden">
    <% include ../user/small_user_card.ejs %>
</div>
<div class="col-md-12">
    <div class="profile-main">
      <div class="user-projects col-md-10 col-md-offset-1 col-sm-12">
          <div class="article-page" >
           <div class="article-header">
                      <h3 class="article-title"><%= article.title%></h3>
                      <h5 class="article-meta">
                          <span class="article-author-thunbnail" id="hover-for-user-info"><img src="<%= user.thunbnail_url%>"/></span><div class="split-line"></div>
                          <span class="article-author"><a href="/users/<%= user.username %>"><span class="like_number"><%= user.username %></span><div class="split-line"></a></div>
                          <span class="article-author"><%= moment(article.created_at).format('MMMM, YYYY'); %></span>
                      </h5>
              </div>
              <% if (article.cover_img) {%>
              <div class="article-cover-img" style="background-image:url(<%= article.cover_img%>)!important;">
              </div>
              <% }%>

              <div class="article-content">
                  <%- contentHTML %>
              </div>
              <div class="article-static-bar row">
                <div class="item"><div class="read"><i class="fa fa-eye"></i></div><div class="item-info">阅读 <%= article.read_counter%></div></div>
                <div class="item"><div class="heart "><i class="fa fa-heart  <%= liked? 'active': ''%>"></i></div><div class="item-info">喜欢  <span id="like_number"><%= article.like_counter%></span></div></div>
                <div class="item"><div class="collection "><i class="fa fa-folder-open  <%= collected? 'active': ''%>"></i></div><div class="item-info">收藏 <span  id="collection_number"><%= article.collected_counter%></span></div></div>
              </div>
        
              <div class="article-tags">
                <% for(var i=0; i<tags.length;i++ ) { %>
                    <span class="tag-item"><i class="fa fa-tags"></i> <%= tags[i].name %></span>
                <% } %>
              </div>

          </div>
          <% include ./comments %>
      </div>
    </div>
</div>

<% include ../partial/footer %>
