<% include ../partial/header %>
    <% include ../partial/nav %>

        <div class="profile-info col-md-12">
            <% include ./user_static_header.ejs %>
        </div>
    <div class="col-md-12">
        <div class="profile-main">
        <div class="reduce-padding col-md-3 col-sm-12 ">
            <% include ./user_card.ejs %>
        </div>
        <div class="user-edit-form col-md-9 col-sm-12">
            <div class="basic-info col-md-8">
                <div class="info-block">
                    <h2>基本信息</h2>
                    <div class="divider red"></div>
                    <form>
                        <div class="form-group">
                            <label for="username">用户名称</label>
                            <input type="text" class="form-control" id="username" value="<%= user.username%>" readonly>
                        </div>
                        <div class="form-group">
                            <label for="groupname">组名称</label>
                            <input type="text" class="form-control" id="groupname" value="<%= user.group_name ? user.group_name:'' %>">
                        </div>
                        <div class="form-group">
                            <label for="jobname">职位名称</label>
                            <input type="text" class="form-control" id="jobname" value="<%= user.job_name ? user.job_name:'' %>">
                        </div>
                        <div class="form-group">
                            <label for="introduce">个人介绍</label>
                            <textarea class="form-control" rows="3" id="introduce"><%= user.introduce ? user.introduce:'' %></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="user-basic-info-submit" class="btn btn-datax"> 保存</button>
                        </div>
                    </form>
                </div>
                <div class="info-block">
                    <h2>技能列表</h2>
                    <div class="divider red"></div>
                    <form>
                        <div class="form-group">
                            <label for="username">技能选择</label>
                            <select multiple="multiple" class="form-control" id='user-skill-select-input'>
                            <% for(var i=0; i<user.Skills.length; i++) {%>
                                <option selected="selected" value=<%= user.Skills[i].id %>><%= user.Skills[i].name %></span>
                            <% } %>
                        </select>
                        </div>
                        <div class="form-group ">
                            <button type="submit" id="user-basic-skill-submit" class="btn btn-datax"> 保存</button>
                        </div>
                    </form>
                </div>
                <div class="info-block">
                    <h2>社交网站链接</h2>
                    <div class="divider red"></div>
                    <form>
                        <div class="form-group">
                            <label for="globe_url">个人网站</label>
                            <input type="text" class="form-control" id="globe_url" value="<%= user.globe_url ? user.globe_url:'' %>">
                        </div>
                        <div class="form-group">
                            <label for="github_url">Github</label>
                            <input type="text" class="form-control" id="github_url" value="<%= user.github_url ? user.github_url:'' %>">
                        </div>
                        <div class="form-group">
                            <label for="weibo_url">微博</label>
                            <input type="text" class="form-control" id="weibo_url" value="<%=user.weibo_url ? user.weibo_url:'' %>">
                        </div>
                        <div class="form-group">
                            <label for="facebook_url">Facebook</label>
                            <input type="text" class="form-control" id="facebook_url" value="<%=user.facebook_url ? user.facebook_url:'' %>" />
                        </div>
                        <div class="form-group">
                            <label for="twitter_url">Twitter</label>
                            <input type="text" class="form-control" id="twitter_url" value="<%=user.twitter_url ? user.twitter_url:'' %>">
                        </div>
                        <div class="form-group">
                            <button type="submit" id="user-profile-link-submit" class="btn btn-datax"> 保存</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="basic-info col-md-4">
                <h2>上传头像</h2>
                <div class="divider red"></div>
                <label>点击下面图片修改照片</label>
                <div class="user-image fileinput-button">
                    <img class="img-responsive" id="user-header-photo" src="<%= user.image_url ? user.image_url:'/img/default-user.png' %>" />
                    <input id="user-header-photo-upload" type="file" name="files[]" multiple>
                </div>
                <div id="files" class="files"></div>
                <div id="progress" class="progress hide">
                    <div class="progress-bar progress-bar-striped"></div>
                </div>

            </div>
        </div>
        </div>
        <% include ../partial/footer %>