
<div class = "profile-user-card col-sm-12">
  <% if(typeof editable !== 'undefined' && editable === true) { %>
  <a href="/users/<%= user.username %>/edit" class="user-edit-btn">
      <i class="fa fa-cogs" aria-hidden="true"></i> 编辑</i>
  </a>
  <% } %>
  <div class="user-image">
    <img class="img-responsive" src="<%= user.image_url ? user.image_url:'/img/default-user.png' %>"/>
  </div>

  <div class="user-name">
    <a href="/users/<%= user.username%>"><%= user.username%></a>
  </div>

  <div class="user-group">
    <%= user.group_name ? user.group_name:'暂无' %>
  </div>

  <div class="user-job">
    <%= user.job_name ? user.job_name:'工程师' %>
  </div>

  <div class="divider"></div>

  <div class="user-skill">
    <h3>技能列表</h3>
    <% for(var i=0; i<user.Skills.length; i++) {%>
      <span class="skill"><%= user.Skills[i].name %></span>
    <% } %>
  </div>

  <div class="divider"></div>

  <div class="user-social-info">
    <h3>其他链接</h3>
    <% if(user.globe_url) { %>
      <span class="socail-link"><a href="<%= user.globe_url %>"><i class="fa fa-globe" aria-hidden="true"></i></a></span>
    <% }%>
    <% if(user.github_url) { %>
      <span class="socail-link"><a href="<%= user.github_url %>"><i class="fa fa-github" aria-hidden="true"></i></a></span>
    <% }%>  
    <% if(user.facebook_url) { %>
      <span class="socail-link"><a href="<%= user.facebook_url %>"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
    <% }%>  
    <% if(user.twitter_url) { %>
      <span class="socail-link"><a href="<%= user.twitter_url %>"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
    <% }%>  
    <% if(user.weibo_url) { %>
      <span class="socail-link"><a href="<%= user.weibo_url %>"><i class="fa fa-weibo" aria-hidden="true"></i></a></span>
    <% }%>   
  </div>

  <div class="divider"></div>

  <div class="user-social-info">
    <h3>个人介绍</h3>
    <p><%= user.introduce ? user.introduce:'暂无' %></p>
</div>

</div>

     